<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_request_timeout" value="600" />
  </config>
  <packageSources>
    <clear />
    <add key="huaweicloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
